
@{
    Layout = null;
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Admin Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/login/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/login/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body>
    <!--header-->
    <div class="header-w3l">
        <h1>Admin Login Form</h1>
    </div>
    <!--//header-->
    <!--main-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <div class="wthree-pro">
                <img src="~/login/images/logo.png" alt="image">
                <h2>Login Now</h2>
            </div>
            <form action="" method="post">
                <input placeholder="Username or E-mail" id="username" name="username" class="user" type="text" required="">
                <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span><br><br>
                <input placeholder="Password" id="password" name="password" class="pass" type="password" required="">
                <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
                <div class="sub-w3l">
                    <span><input type="checkbox" />Remember Me</span>
                    
                </div>
            </form>
            <div class="right-w3l">
                <button id="btn_save">Login</button>
            </div>
        </div>
    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>&copy; 2022 Admin Login Form. All rights reserved |</p>
    </div>
    <!--//footer-->

    <script>
        let btnSave = document.getElementById('btn_save');
        let user = document.getElementById('username');
        let pass = document.getElementById('password');

        btnSave.addEventListener('click', () => {
            $.ajax({
                type: 'post',
                url: "/Admin/Login",
                data: { username: user.value, password: pass.value },
                success: (e) => {
                    if (e.status == true) {
                        window.location.href = "/Admin/Index";
                    }
                    else{
                        alert("Wrong username or password");
                    }
                }
            })
        })
    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</body>
</html>
